.amenities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 140px;
}

.amenities-content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 85vh;
}

.amenities-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  /* margin-left:50px; */
  width: 15%;
  border-right: 1px solid #ccc;
  padding: 0;
}

.amenities-tab {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  /* border-radius: 20px; */
  background-color: none;
  cursor: pointer;
}

.amenities-tab:hover {
  /* background-color: #fff; */
  border: 3px solid #fff;
}

.active {
  background-color: #fff;
}

.amenities-content {
  width: 95%;
  padding: 10px;
  margin-top: -10px;
}
