.mattresses-container {
    display: flex;
    justify-content: space-around;
  }

.mattress-card {
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  
  .mattress-image {
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-radius: 10px 10px 0 0; 
  }
  
  .mattress-details {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff; 
    border-radius: 0 0 10px 10px; 
    box-sizing: border-box;
  }
  
  .mattress-info {
    text-align: center;
  }
  