/* src/App.css */
@import "~font-awesome/css/font-awesome.css";

.App {
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* color: black; */
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  top:100px;
}

a.active {
  color: yellow; /* You can customize the color for the active link */
}

.main-cards{
  margin-top:200px;
}

